@use '../abstracts/colors' as c;
@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

button,
select,
.submit {
  border-radius: v.$border-radius;
  font-family: inherit;
  user-select: none;
  cursor: pointer;
}

.submit {
  font-size: 1rem;
  color: c.$btn-text;
  font-weight: 500;

  border: none;
  background: c.$btn-bg;

  transition: 100ms ease;

  &:active {
    transform: translate(4.5px);
    box-shadow: none;
  }

  &:hover,
  &:focus-visible {
    color: c.$text;
    background: c.$fill-bg;
  }
}

.expense__type-btn {
  position: relative;
  @include m.flexCenter;
}

.expense__form .submit {
  align-self: end;

  width: 4rem;
  height: 1.7rem;

  @include m.mqw {
    align-self: auto;
    width: 11.5rem;
    margin-top: 8px;
  }
}

.expense__filter-btn {
  position: absolute;
  left: 0;
  bottom: 0;

  font-size: 1.2rem;
  color: c.$subheading-text;

  background: none;
  border: none;

  transition: 100ms ease;

  &:hover,
  &:focus-visible {
    color: c.$hover;
  }

  &:active {
    color: c.$subheading-text;
  }
}

.expense__controls-btn {
  position: absolute;
  left: -3px;
  bottom: 0;

  font-size: 1.5rem;
  color: c.$subheading-text;

  background: transparent;
  border: none;

  i {
    pointer-events: none;
  }

  &:hover,
  &:focus-visible {
    color: c.$hover;
  }
}

.expense__controls-delete,
.expense__controls-edit {
  z-index: 6;
  padding: 0.15rem 0.25rem;

  font-size: 1.2rem;
  color: c.$heading-text;

  border: none;
  background: c.$content-bg;

  transition: 150ms ease;

  i {
    pointer-events: none;
  }
}

.expense__controls-delete {
  &:hover,
  &:focus-visible {
    color: #dd1010;
    background: c.$input-bg;
  }
  &:active {
    color: c.$heading-text;
  }
}

.expense__controls-edit {
  &:hover,
  &:focus-visible {
    color: c.$hover;
    background: c.$input-bg;
  }
  &:active {
    color: c.$heading-text;
  }
}

.expense__new-title-submit {
  margin-left: 3px;
  padding-inline: 3px;

  cursor: pointer;
  color: c.$btn-text;
  border-radius: v.$border-radius;
  background: c.$btn-bg;
}
