@use '../abstracts/colors' as c;
@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

body {
  position: relative;
  z-index: -5;
  background: c.$body-bg;
}

main {
  min-height: calc(100vh - 8rem);
  margin-top: 3.5rem;
  padding-top: 2rem;
}

section {
  @include m.flexCenter;
  gap: 2rem;

  max-width: 900px;
  margin: 0rem auto;
  padding: 2rem;

  animation: fade-in 600ms ease-in 1;

  @include m.mqw {
    padding: 0 0 2rem;
  }
}

.trips,
.expenses {
  flex-direction: column;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
