@use '../abstracts/colors' as c;
@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
input {
  display: block;
  user-select: none;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
  user-select: none;
}
