@use '../abstracts/colors' as c;
@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

body {
  font-family: 'Montserrat', sans-serif;
  color: c.$dark-text;
}

h1 {
  color: c.$red-text;
}

label {
  color: c.$red-text;
}

.expense__form label {
  color: c.$light-text;
}
