// Text
$text: #3c0109;
$heading-text: #6f202b;
$subheading-text: #862c38;

$budget: linear-gradient(#45eb45, #075e03);
$balance: linear-gradient(#ff823a, #b83700);

// Inputs
$input-bg: #fff9f9;
$placeholder: rgba(90 0 0 / 0.69);

// Backgrounds
$header-bg: #fbeae6;
$body-bg: #fff9f9;
$content-bg: #fbeeeb;
$footer-bg: #fbeae6;

// Buttons
$btn-bg: #d84b52;
$btn-text: #f1f1f1;
$hover: #b53636;
$fill-bg: #ff8a6d;
$alt-fill-bg: linear-gradient(33deg, #de2e4c, #d44e33);

// Shadows
$light-shadow-color: #3c010921;
$shadow-color: #3c01093f;
