// Text
$text: #0c1121;
$heading-text: #6c061b;
$alt-text: #fff;

$budget: linear-gradient(#45eb45, #075e03);
$balance: linear-gradient(#ff823a, #b83700);

// Inputs
$input-bg: #ffffff;
$placeholder: rgba(90 0 0 / 0.69);

// Backgrounds
$header-bg: #131a2f;
$body-bg: #fff;
$content-bg: linear-gradient(66deg, #ebebeb, #f3f3f3);
$footer-bg: #131a2f;

// Buttons
$btn-bg: #e73e51;
$btn-text: #f1f1f1;
$hover: #b53636;
$fill-bg: #fc3737;

// Shadows
$light-shadow-color: #3c010921;
$shadow-color: #3c01093f;
