@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin gradientText {
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

// Main Breakpoint
@mixin mqw {
  @media all and (max-width: 530px) {
    @content;
  }
}

// Extra Small
@mixin mqwXS {
  @media all and (max-width: 300px) {
    @content;
  }
}