@use '../abstracts/colors' as a;

// Borders
$border-radius: 1px;
$border: 1px solid a.$dark-text;
$light-border: 1px solid a.$red-text;

// Shadows
$shadow: 0 0 4px a.$shadow-color;
$light-shadow: 0 0 4px a.$light-shadow-color;
