@use '../abstracts/colors' as a;

// Borders
$border-radius: 1px;
$border: 1px solid a.$text;
$light-border: 1px solid a.$heading-text;

// Shadows
$shadow: 4.5px 4px 4px a.$shadow-color;
$light-shadow: 4.5px 4px 4px a.$light-shadow-color;
