@use '../abstracts/colors' as c;
@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

.expense__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 2rem 2rem;

  background: c.$header-bg;
  border-radius: v.$border-radius;

  @include m.mqw {
    padding: 1rem 2rem 1.75rem;
  }

  legend {
    display: block;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    color: c.$alt-text;
    margin-bottom: 1rem;
  }
}

fieldset {
  border: none;
}

.expense__info {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;


  @include m.mqw {
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }
}

.expense__info-wrapper {
  display: flex;
  gap: 1rem;
}

.expense__type {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px 14px;

  margin-bottom: 1rem;

  @include m.mqw {
    grid-template-columns: repeat(3, 1fr);
    gap: 10px 5px;
    margin-bottom: 1.1rem;
  }

  i {
    position: absolute;
    bottom: 6.5px;
    z-index: 3;

    color: c.$heading-text;
    font-size: 1.9rem;
    pointer-events: none;
  }
}

.expense__container {
  width: 90%;

  h1 {
    text-align: center;
    margin-bottom: 1rem;
  }
}

.expense__subheadings,
.expense__item {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-flow: column;

  justify-content: space-evenly;
  align-items: center;

  padding: 0.25rem;

  font-size: 1.1rem;
  text-align: center;

  @include m.mqw {
    grid-template-columns: repeat(3, 1fr);
  }
}

.expense__subheadings {
  position: relative;
  margin-bottom: 0.9rem;

  font-size: 1.1rem;
  color: c.$heading-text;
  font-weight: 600;

  border-bottom: 1px solid c.$heading-text;
  box-shadow: 0px 7px 6px -6px c.$light-shadow-color;

  li:first-of-type {
    margin-left: 0.7rem;
  }
}

.expense__items {
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
}

.expense__item {
  position: relative;

  border-radius: v.$border-radius;
  background: c.$content-bg;
}

.expense__title {
  margin-left: 0.7rem;
}

.expense__controls-options {
  position: absolute;
  top: 1.85rem;
  left: -5.65px;
}

.expense__controls {
  position: relative;
  z-index: 5;

  @include m.flexCenter;
  gap: 3.25px;

  padding: 3px;

  background: c.$heading-text;
  border-radius: v.$border-radius;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 2.1rem;

    width: 0;
    height: 0;

    border-left: 6px solid transparent;
    border-bottom: 10px solid c.$heading-text;
    border-right: 6px solid transparent;

    pointer-events: none;
  }
}
